@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

#navbar{
    background:
      /* top, transparent red, faked with gradient */ linear-gradient(
        rgba(10, 8, 8, 0.45),
        rgba(244, 217, 70, 0.45)
      ),      /* bottom, image */
      url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
      background-size: cover;
      background-attachment: fixed;
      overflow-x: hidden;
      background-position: center;
}
#navbarrNav{
    display: flex;
    align-items: center;
}

/* landing */
#landing{
    width: 100%;
    height: auto;
    background: 
    url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}


h1, h2, h3, h4, h5, h6{
    font-family: 'Bebas Neue', cursive;
    font-family: 'Righteous', cursive;
}

/* about */

/* testimonials */
#testimonials{
    background-image: url(https://wallpaperaccess.com/full/39631.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: center;
}

.carousel-inner{
    display: block;
    margin: auto;
    width: 300px;
    height: 300px;
    border-radius: 50%; 
}

#education img{
    width: 200px;
    height: 200px;
}

#contact{
    width: 100%;
    height: auto;
    background:linear-gradient(
        rgba(168, 21, 138, 0.5), 
        rgba(0, 0, 0, 0.9)
      ),
    url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contactform{
    width: 500px;
    height: auto;
}
