@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Righteous&display=swap');

html,body{
    overflow-x: hidden;
}

/* landing */
#landing {
    width: 100%;
    height: auto;
    background:
        url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Bebas Neue', cursive;
    font-family: 'Righteous', cursive;
}

/* navbar */
#navbar {
    background: linear-gradient(rgba(10, 8, 8, 0.45),
            rgba(240, 191, 76, 0.45)),
        url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    background-position: center;
}

#navbar button {
    border: hidden;
    margin: auto;
}

/* about */
#about img{
    border: 4px solid rgb(240, 191, 76);
    border-top-left-radius: 30%;
    border-bottom-right-radius: 30%;
}

/* testimonials */
#testimonials {
    background-image: url(https://wallpaperaccess.com/full/39631.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#test-img{
    width: 200px;
    height: 300px;
    
}

/* projects */


.modal-content{
    width: 500px;
    height: auto;
    margin: auto;

}


/* work */
#work img {
    width: 500px;
    height: auto;
}

#web-dev {
    border: 4px solid rgb(240, 191, 76);
    border-radius: 20%;
    border-right: hidden;
    border-top: hidden;
}

#massage {
    border: 4px solid rgb(240, 191, 76);
    border-radius: 20%;
    border-left: hidden;
    border-top: hidden;
}

#coach {
    border: 4px solid rgb(240, 191, 76);
    border-radius: 20%;
    border-right: hidden;
    border-top: hidden;
}

#upholstery {
    border: 4px solid rgb(240, 191, 76);
    border-radius: 20%;
    border-left: hidden;
    border-top: hidden;
}

/* education */

#education img {
    width: 200px;
    height: 200px;
}

.staff {
    position: relative;
}


/* education */
.staff-details {
    background: linear-gradient(to top,
            rgba(0, 0, 0, 0.7) 0%,
            rgba(225, 215, 21, 0) 100%);
    color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    opacity: 0;
    transition: all 0.3s linear;
}

.staff:hover .staff-details {
    opacity: 1;
}


/* contact */
#contact {
    width: 100%;
    height: auto;
    background: linear-gradient(rgba(168, 21, 138, 0.5),
            rgba(0, 0, 0, 0.9)),
        url(https://c4.wallpaperflare.com/wallpaper/556/382/458/fantasy-art-artwork-fan-art-science-fiction-wallpaper-preview.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

#contactform {
    width: 500px;
    height: auto;
}

